<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="ProfileListPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>
<body>

<div class="top-panel">
    <form action="/">
        <input type="submit" value="Main page" />
    </form>
</div>

<div class="body">
    <h3> Registered profiles list: </h3>
    <ol>
        <li data-th-each="profile: ${profileList}"> <a data-th-href="${'profile/' + profile.personId + '/view'}" data-th-text="${profile.lname + ' ' + profile.fname + ' ' + profile.sname}"></a> </li>
    </ol>
    <h3> Being edited profiles list: </h3>
    <ol>
        <li data-th-each="profile: ${draftList}"> <a data-th-href="${'profile/' + profile.personId + '/edit'}" data-th-text="${profile.lname + ' ' + profile.fname + ' ' + profile.sname}"></a> </li>
    </ol>
    <h3> Images loaded: </h3>
    <ol>
        <li data-th-each="img_id: ${pictureList}"> <img data-th-src="${'/chat-images/load/' + img_id}" alt="kik"/> </li>
    </ol>
</div>

</body>
</html>
